html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.xui-normal-footer {
  list-style: none;
  float: left;
  display: inline-flex;
  position: fixed;
  bottom: 0;
}

.xui-normal-footer li {
  width: auto;
  margin: 5px 8px 0px 0px;
}
